html {
    scroll-behavior: smooth;
}

.body {
    background-color: #000000;
}

/***************************/
/*          NAVBAR         */
/***************************/
#navBarPrincipal {
    background-color: #09090A;
}

/***************************/
/*      FIN NAVBAR         */
/***************************/

/***************************/
/*    SECCION PRINCIPAL    */
/***************************/
.seccionPrincipal {
    animation: backInLeft;
    animation-duration: .5s;
}

.seccionTitulo {
    background-image: url("../assets/logo/principal.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 1 rem 0;
    height: 80vh;
    padding: 1 rem;
}

.animacionTextoSoundStream {
    font-weight: bolder;
    color: #dd7732;
}

.cardInfo {
    position: relative;
}

.cardInfo:hover {
    box-shadow: white 0px 0px 20px;
    transition: all ease-in-out .1s;
}

.cardInfoTitulo {
    position: absolute;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
    text-shadow: black 5px 5px 5px;
    margin-top: 1rem;
    z-index: 1;
}

.cardInfoText {
    position: absolute;
    color: whitesmoke;
    font-size: 1rem;
    text-align: center;
    font-weight: bolder;
    text-shadow: black 5px 5px 5px;
    top: 50%;
    z-index: 1;
}

.botonCard {
    position: absolute;
    bottom: 10%;
    align-self: center;
    text-decoration: none;
    z-index: 1;
    color: white;
}

.botonCard:hover {
    text-shadow: white 0px 0px 10px;
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

.bgCard {
    width: 100%;
    height: 100%;
    background: radial-gradient(#ffffff17, #000000);
    position: absolute;
}

.seccionSonido {
    background-color: #09090A;
    border-radius: 10px;
}

.logoSonido {
    opacity: 50%;
}

.seccionComentarios {
    color: white;
    background-color: #09090A;
    border-radius: 10px;
    text-align: center;

}

/***************************/
/*  FIN SECCION PRINCIPAL  */
/***************************/


/***************************/
/*         ACORDEON        */
/***************************/
.accordion-button {
    cursor: pointer;
}

.accordion-button:hover {
    box-shadow: white 0px 0px 10px;
}

.accordion-body {
    border: white 1px solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/***************************/
/*      FIN ACORDEON       */
/***************************/



/***************************/
/*         FOOTER          */
/***************************/
.footer {
    background-color: #09090A;
}

.redes-sociales {
    font-size: 2rem;
    background-color: #18191f;
    color: #fff;
    box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080, 2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080;
    border-radius: 50%;
    padding: 1px 6px;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff, 0 0 200px #0072ff;
}

.redes-sociales:hover {
    animation: flash;
    animation-duration: 3s;
}

.bi-facebook {
    animation-delay: 0.7s;
}

.bi-github {
    animation-delay: 0.1s;
}

.bi-instagram {
    animation-delay: 0.3s;
}

.linksFooter{
    display: inline-block;
    position: relative;
    color: #ffffff;
    text-decoration: none !important;
    font-size: 16px !important;
}
.linksFooter:hover{
    cursor: pointer;
}
.linksFooter:after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    transition: all .8s;
}
.linksFooter:hover:after {
    width: 100%;
    background: #fff;
}
/***************************/
/*        FIN FOOTER       */
/***************************/

@keyframes animate {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}

/* AGUS */
.artista {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17rem;
    border: 0 !important;
    text-align: center;
    margin: 1rem auto !important;
    background-color: rgba(128, 128, 128, 0.541) !important;
    color: aliceblue;
}

.textos {
    text-align: center;
}

.img-circular {
    border-radius: 50%;
    border: 2px solid transparent;
}

.contacto a {
    text-decoration: none;
    font-size: 2rem;
}

.redsocial:hover {
    animation: shakeY;
    animation-duration: 2s;
    color: aliceblue;
}

.titulo-adn {
    color: #E93232;
    font-weight: 600;
}

/* DETALLE - ARTISTAS */

.titulo-artistas {
    color: aliceblue;
}

/* SHAKIRA */

#titulo-foto-artista {
    position: absolute;
    top: 250px;
    left: 360px;
}

.btn-play {
    border: none;
    background-color: #ffffff;
}

.botonShakira {
    text-decoration: none;
}

.botonShakira:hover {
    text-shadow: black 0px 0px 10px;
}

/* ARTISTAS */
/* #accordionFlushExample {
    width: 51.7vw;
  } */

/* .btn{
    background-color: rgba(128, 128, 128, 0.541);
    border: 1px solid white;
    color:#ffffff
  } */
@media(min-width:320px) and (max-width:425px) {
    .cardInfo {
        margin: 20px;
    }

    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .seccionTitulo {
        background-image: url("../assets/logo/principal.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
        height: 40vh;
    }
}

@media(min-width:425px) and (max-width:568px) {
    .seccionTitulo {
        background-image: url("../assets/logo/principal.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
        height: 50vh;
    }
}

.reproductor{
    position: sticky;
    bottom: 0;
    height: 20vh;
    background-color: #282828;
    z-index: 3;
}

#contenidoPrincipal{
    animation: backInLeft;
    animation-duration: .5s;
}

.listaCancionesReproductor{
    overflow: auto;
}