/* .header {
    z-index: 1500 !important;
}

.vm-top {
    transition: all ease-in-out 0.2s;
}

.vm-top:hover {
    transform: rotate(-10deg);
}

button {
    font-size: 1.2rem;
    position: relative;
}

button:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgba(254, 254, 255, 0.212);
    transition: all 1s ease;
}

button:hover:before {
    width: 100%;
}

.form-label {
    margin-bottom: 0 !important;
}

.div-google-facebook{
    width: 100%;
    height: 150px;
}

.google{
    background-color: rgb(214, 214, 214);
    border-radius: 5px;
    border: none;
}


.facebook{
    background-color: #036ee4;
    border-radius: 5px;
    border: none;
    color: white;
} */

html {
    scroll-behavior: smooth;
}
*{
    color:white;
}
.body{
    background-color: #000000;
}

/***************************/
/*          NAVBAR         */
/***************************/
#navBarPrincipal{
    background-color: #09090A;
}
.transparencia{
    opacity: .9;
}
/***************************/
/*      FIN NAVBAR         */
/***************************/



/***************************/
/*      SECCION ASIDE      */
/***************************/
.aside{
    height: 100vh;
    background-color: #09090A;
    position: sticky !important;
    top: 0;
}
.linkAside{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
.linkAside:hover{
    color: white;
    text-decoration: none;
    animation: flash;
    animation-duration: 1s;
}#botonInicio:hover{
    cursor: pointer;
}
/***************************/
/*    FIN SECCION ASIDE    */
/***************************/




/***************************/
/*    SECCION PRINCIPAL    */
/***************************/
.seccionPrincipal{
    animation: fadeInUp;
    animation-duration: .5s;
}
.seccionTitulo{
    background-image: url("../assets/logo/principal.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 1rem 0;
    height: 80vh;
    padding: 1rem;
}.animacionTextoSoundStream{
    font-weight: bolder;
    color: #dd7732;
}.card{
    position: relative;
}.card:hover{
    box-shadow: white 0px 0px 20px;
    transition: all ease-in-out .1s;
}.card-title{
    position: absolute;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
    text-shadow: black 5px 5px 5px;
    margin-top: 1rem;
    z-index: 1;
}.card-text{
    position: absolute;
    color: whitesmoke;
    font-size: 1rem;
    text-align: center;
    font-weight: bolder;
    text-shadow: black 5px 5px 5px;
    top: 50%;
    z-index: 1;
}.botonCard{
    position: absolute;
    bottom: 10%;
    align-self: center;
    text-decoration: none;
    z-index: 1;
    color: white;
}.botonCard:hover{
    text-shadow: white 0px 0px 10px;
    text-decoration: none;
    font-weight: bolder;
    color: white;
}.bgCard{
    width: 100%;
    height: 100%;
    background: radial-gradient(#ffffff17, #000000);
    position: absolute;
}
.seccionSonido{
    background-color: #09090A;
    border-radius: 10px;
}.logoSonido{
    opacity: 50%;
}.seccionComentarios{
    background-color: #09090A;
    border-radius: 10px;
    text-align: center;
    height: 60vh;
}
/***************************/
/*  FIN SECCION PRINCIPAL  */
/***************************/




/***************************/
/*       FAVORITOS         */
/***************************/
.seccionFavoritos{
    background-color: #09090A;
    margin: 1rem 0;
    border-radius: 10px;
    padding: 1rem;
    animation: fadeInUp;
    animation-duration: .5s;
}
/***************************/
/*      FIN FAVORITOS      */
/***************************/




/***************************/
/*         FOOTER          */
/***************************/
.footer{
    background-color: #09090A;
}.redes-sociales{
    font-size: 2rem;
    background-color: #18191f;
    color: #fff;
    box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080, 2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080;
    border-radius: 50%;
    padding: 1px 6px;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff, 0 0 200px #0072ff;
}.redes-sociales:hover{
    animation: flash;
    animation-duration: 3s;
}.bi-facebook{
    animation-delay: 0.7s;
}.bi-github{
    animation-delay: 0.1s;
}.bi-instagram{
    animation-delay: 0.3s;
}.seccionPolitica, .seccionTerminos{
    animation: fadeInUp;
    animation-duration: .5s;
}
/***************************/
/*        FIN FOOTER       */
/***************************/

@keyframes animate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}
